.music-table {
  min-width: 575px;
  margin: 100px 50px;
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 2px;
  background-color: #3c1d42;
  box-sizing: border-box;
}

.music-table h3 {
  padding: 10px;
  color: #d2aada;
}

.music-table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead {
  padding: 10px;
}
tr th {
  color: #000000;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: #dddddd;
  color: #666666;
}

tr:nth-child(odd) {
  background-color: #ffffff;
  color: #333333;
}
