.search-bar {
  margin: 0 auto;
  /*margin: 75px 0 0 10px;*/
  margin-top: 150px;
  margin-bottom: 50px;
  width: 575px;
  text-align: center;
  font-size: 1.1em;
}

.search-bar input[type='text'] {
  width: 250px;
  padding: 6px 6px 6px 10px;
  outline: none;
  border-radius: 15px 0 0 15px;
  border-color: #3c1d42;
  color: #3c1d42;
  margin-right: 1px;
  border-width: 3px;
}

.search-bar select {
  width: 100px;
  padding: 5px;
  outline: none;
  border-color: #3c1d42;
  color: #3c1d42;
  background-color:#d2aada;
  margin-right: 2px;
  border-width: 3px;
}

.search-bar option:hover {
  background-color: #3c1d42;
}

.search-bar .select-option:hover {
  background-color: #000000;
}

.search-bar input[type='submit'] {
  padding: 6px 10px 9px 10px;
  background-color: #3c1d42;
  color: #d2aada;
  font-size: 0.9em;
  border-radius: 0 15px 15px 0;
  border: none;
}

.search-bar input[type='submit']:hover {
  font-weight: bold;
  color: #ffffff;
}
